<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0040f8">
<meta name="apple-mobile-web-app-title" content="Guillaume Coquoz">
<meta name="application-name" content="Guillaume Coquoz">
<meta name="theme-color" content="#f8f8f8">
<!-- end Favicon -->

<!-- Site & Pages informations -->
<!-- Description -->
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<!-- Author -->
<meta name="author" content="{{ site.name }}" />
<!-- Title -->
{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}
<!-- end Site & Pages informations -->

{% seo %}