/* Medias */
// img tag
img {
	display: block;
  max-width: 128ex;
  height: auto;
  margin-left: -28ex;

  @include breakpoint(xxxl) {
    max-width: 112ex;
	  margin-left: -20ex;
  }
  @include breakpoint(xxl) {
    max-width: 96ex;
	  margin-left: -12ex;
  }
  @include breakpoint(xl) {
    max-width: 88ex;
	  margin-left: -8ex;
  }
  @include breakpoint(lg) {
    max-width: 100%;
	  margin-left: auto;
  }

  &.img--small {
  	margin: auto;
  	max-width: 100%;
  }
}

// video wrapper
.wrapper__video {
	position: relative;
	height: 0;
}

.wrapper__video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Image lightbox special */
// Image and Lightbox link style override
.link--img, .link--lightbox {
	text-decoration: none;
	border: none;
	background: none;

	 &:hover {
	 	text-decoration: none;
	 	border: none;
	 	background: none;
	 }

	 &:active {
	 	text-decoration: none;
	 	border: none;
	 	background: none;
	 }
}

.link--img img {

		&:hover {
			cursor: zoom-in;
		}
	}

// Lightbox hidden
.link--lightbox {
	display: none; // hides lightbox

	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($bg-color,0.95);
	text-align: center;

	&:hover {
		background-color: rgba($bg-color,0.95);
		cursor: zoom-out;
	}

	&:active {
		background-color: rgba($bg-color,0.95);
	}
	// Lightbox visible
	&:target {
		display: block; // shows lightbox
		outline: none; // remove browsers default outline
	}
	// Image inside lightbox
	& img {
		max-width: 98%;
		max-height: 98%;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		margin: 0;
	}
}

// Image & Video caption
.img-caption, .video-caption {
  display: block;
  font-size: $font-size--xs;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-top: $space--sm;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}